## SQLite3

In [1]:
import sqlite3

### Connect to a database

In [2]:
connection = sqlite3.connect('example.db')
connection

In [3]:
cursor = connection.cursor()

### Create a Table

In [4]:
cursor.execute('''
Create Table If Not Exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department text
)
''')

### Commit the changes

In [5]:
connection.commit()

### Insert data

In [7]:
cursor.execute('''
Insert Into employees(name, age, department)
            values('Guru', 24, 'Data Scientist')
''')

cursor.execute('''
Insert Into employees(name, age, department)
            values('Krish', 32, 'Data Engineer')
''')

cursor.execute('''
Insert Into employees(name, age, department)
            values('Charlie', 18, 'AI')
''')

connection.commit()

### Querying the data from the table

In [9]:
cursor.execute('''
SELECT * FROM employees
''')

rows = cursor.fetchall()

# print the queried data

for row in rows:
    print(row)

(1, 'Guru', 24, 'Data Scientist')
(2, 'Krish', 32, 'Data Engineer')
(3, 'Charlie', 18, 'AI')

### Update the data in the table

In [10]:
cursor.execute('''
Update employees
set age = 34
where name='Krish'
''')

connection.commit()

In [11]:
cursor.execute('''
SELECT * FROM employees
''')

rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Guru', 24, 'Data Scientist')
(2, 'Krish', 34, 'Data Engineer')
(3, 'Charlie', 18, 'AI')

### Delete the data

In [14]:
cursor.execute('''
DELETE from employees
        where name='Charlie'
''')

In [15]:
cursor.execute('''
SELECT * FROM employees
''')

rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Guru', 24, 'Data Scientist')
(2, 'Krish', 34, 'Data Engineer')